@model tpc5FI.Models.Reserva


@{
    ViewData["Title"] = "Reservar";
}

<h1>Reservar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FDesde" class="control-label"></label>
                <input asp-for="FDesde" class="form-control" />
                <span asp-validation-for="FDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FHasta" class="control-label"></label>
                <input asp-for="FHasta" class="form-control" />
                <span asp-validation-for="FHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoAlojamiento" class="control-label"></label>
                <input asp-for="codigoAlojamiento" class="form-control" />
                <span asp-validation-for="codigoAlojamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoPersona" class="control-label"></label>
                <input asp-for="codigoPersona" class="form-control" />
                <span asp-validation-for="codigoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}