@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 font-weight-bold">Reserva tu alojamiento</h1>
    <img src="/images/imagen_index.jpg" alt="seccion principal" class="container-fluid  pt-3">
</div>
